@font-face {
  font-family: "Beaufort for LOL Bold";
  src: url("fonts/12420e8c141ca7c3dff41de2d59df13e.eot");
  /* IE9*/
  src: url("../fonts/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"), /* chrome、firefox */
  url("../fonts/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/12420e8c141ca7c3dff41de2d59df13e.svg#Beaufort for LOL Bold") format("svg");
  /* iOS 4.1-  */
  font-family: "BeaufortforLOL-Regular";
  src: url("../fonts/Beaufort-Regular.ttf");
  src: url("../fonts/Beaufort-Regular.woff");
}

body {
  position: relative;
  font-family: "Beaufort for LOL Bold";
  font-weight: 200;
  margin: 0;
  padding: 0;
}
button{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration-line: none;
}

input {
  border: none;
  background-color: #0000;
}

input:focus {
  outline: none;
}

:root {
  --color-menu: #696053;
  --color-menu-active: #c6b7a0;
  --bg-color-hover-lang: #4a3726;
  --bg-color-active-lang: #68482c;
  --color-border: #99664d;
  --color-text-h2: #c49250;
  --color-form: rgb(208, 168, 92);
  --color-form-btn-hover: rgb(241, 212, 158);
  --color-section1: #d5d2c9;
  --font-LOL: "BeaufortforLOL-Regular";
  --font-h2: "Oswald";
  --bgr-btn-play : #151415;
}

/*  =========   HEADER   ========*/

header {
  position: fixed;
  z-index: 100;
  height: 100px;
  width: 100%;
  background-image: url('../img/bg/bg-black.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1240px;
  margin: 0 80px;
}

.logo {
  position: relative;
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_logo {
  width: 100%;
}

.menu_right {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu {
  position: relative;
  width: calc(100% - 120px);
  color: var(--color-menu);
  text-transform: uppercase;
}

.nav_menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  align-items: center;
}

.nav_item {
  padding-left: 50px;
}

.nav_item:hover {
  color: var(--color-menu-active);
}

.active {
  color: var(--color-menu-active);
}

.language {
  position: relative;
  width: 100px;
  color: var(--color-menu-active);
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.language:hover .icon_lang, .icon_back {
  width: 13px;
  height: 13px;
}

.icon_lang, .icon_back {
  width: 10px;
  height: 10px;
  transition-duration: 0.3s;
}

.icon_lang svg, .icon_back svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--color-menu-active);
}

.icon_lang svg path, .icon_back svg path {
  stroke: currentColor;
}

.list_lang {
  display: none;
  position: absolute;
  right: 0;
  top: 100px;
  height: 230px;
  width: 200px;
  background-image: url("../img/bg/bg-black.jpg");
}

.lang_menu {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: var(--color-menu-active);
  border-top: 1px solid var(--color-border);
}

.lang_item {
  line-height: 57px;
  padding-left: 15px;
  font-size: 12px;
}

.lang_item:hover {
  background-color: var(--bg-color-hover-lang);
}

.active_lang {
  background-color: var(--bg-color-active-lang);
}

.rorateLang {
  transform: rotate(-180deg);
}

.icon_menu {
  display: none;
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}

.menu_none {
  display: none;
}

.back {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 60px;
  }
  .logo {
    width: 100px;
  }
  .icon_menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .burger {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon1 {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: var(--color-menu-active);
    transition: transform 0.3s;
  }
  .center {
    display: none;
  }
  .top {
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  .bottom {
    transform: rotate(45deg) translate(-6px, -6px);
  }
  .menu {
    width: 100%;
  }
  .menu_right {
    display: none;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 63px);
    left: -5.6%;
    top: 60px;
    background-image: url("../img/bg/bg-black.jpg");
    border-top: 1px solid var(--color-border);
  }
  .menu_none {
    display: block;
  }
  .nav_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .container {
    width: 90%;
    margin: 0;
  }
  .nav_menu {
    height: auto;
  }
  .nav_item, .language {
    height: 62px;
    padding: 0;
    margin: 0 5%;
    line-height: 62px;
    text-align: left;
    width: 90%;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-menu);
    font-size: 15px;
  }
  .text_lang, .icon_lang {
    color: var(--color-menu);
    font-size: 15px;
  }
  .text_lang:hover, .icon_lang {
    color: var(--color-menu-active);
  }
  .icon_lang {
    transform: rotate(-90deg);
  }
  .active {
    color: var(--color-menu-active);
  }
  .back {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .back p {
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 10px;
  }
  .icon_back {
    transform: rotate(90deg);
    width: 13px;
    height: 13px;
  }
  .list_lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 0;
    right: 0;
    overflow: hidden;
    height: calc(100vh - 63px);
    top: 60px;
    background-image: url("../img/bg/bg-black.jpg");
    border-top: 1px solid var(--color-border);
    transition: 0.3s;
  }
  .lang_menu {
    align-items: center;
  }
  .lang_item {
    line-height: 62px;
    width: 90%;
    border-bottom: 1px solid var(--color-border);
    padding: 0;
    font-size: 16px;
    color: var(--color-menu);
  }
  .lang_item:hover {
    background-color: #0000;
    color: var(--color-menu-active);
  }
  .active_lang {
    background-color: #0000;
    color: var(--color-menu-active);
  }
  .show_lang {
    width: 100vw;
    right: -5.6%;
  }
  .hide_menu {
    width: 0;
    transition: 0.3s;
    overflow: hidden;
  }
}

/*  =======  NAVBAR  =======*/

nav {
  position: relative;
  background-image: url("../img/heros/hero-background.jpg");
  top: 100px;
  padding-bottom: 100px;
}

.nav_logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  z-index: 2;
}

.nav_logo img {
  position: relative;
  width: 350px;
}

.heros {
  position: relative;
  height: 310px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heros_content {
  position: relative;
  height: 100%;
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
}

.jinx {
  position: absolute;
  width: 90%;
  bottom: -50px;
  animation: jinx_move 2s forwards;
  z-index: 2;
}

@keyframes jinx_move {
  0% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}

.jinx img {
  position: relative;
  width: 100%;
}

.yasuo {
  position: absolute;
  width: 90%;
  animation: yasuo_move 2s forwards;
  bottom: 0;
}

@keyframes yasuo_move {
  0% {
    right: 100px;
  }
  100% {
    right: 0px;
  }
}

.yasuo img {
  position: relative;
  width: 100%;
}

.nav_text {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: var(--color-text-h2);
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

.nav_text {
  padding: 0 60px;
}

.nav_download {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}

.download_text {
  color: var(--color-menu);
  text-transform: uppercase;
  padding: 15px 0;
  font-family: var(--font-LOL);
}

.download_menu {
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.download_item {
  position: relative;
  height: 100%;
  margin: 0 5px;
}

.download_item img {
  position: relative;
  height: 100%;
}

.register {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
}

.register form {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-image: url(../img/bg/bg-dark.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.register_content {
  position: relative;
  width: 90%;
}

.reg_email {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 40px;
}

.register_content label {
  position: relative;
  color: var(--color-menu);
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.register_content input {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

::placeholder {
  text-transform: uppercase;
  color: #fff;

}

.email {
  height: 56px;
  border: 1px solid var(--color-form);
  margin: 10px 0;
  padding-left: 20px;
}

.reg_dob {
  position: relative;
  top: 10px;
  
}

.input_date {
  height: 56px;
  border: 1px solid var(--color-form);
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.inp_dob {
  font-family: 'Oswald', sans-serif;
  width: 60px;
  padding-left: 20px;
}

.rule {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.rule_check {
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-color: var(--color-form);
  margin: 0;
}

.rule_text {
  padding-left: 10px;
}

.rule p {
  font-family: var(--font-LOL);
  font-size: 11px;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.Privacy {
  text-decoration: solid;
  color: #fff;
}

.btn_submit {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: animate_btn_submit 0.3s forwards;
}
@keyframes animate_btn_submit{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.btn_submit button {
  width: 170px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 14px;
  background-color: var(--color-form);
  border: none;
}

.btn_submit button:hover {
  background-color: var(--color-form-btn-hover);
}

.btn_submit button:focus {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  nav {
    top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .nav_logo img {
    position: relative;
    width: 175px;
  }
  .heros {
    height: 300px;
  }
  .heros_content {
    width: 450px;
  }
}

@media only screen and (max-width: 400px) {
  .yasuo {
    width: 100%;
  }
  .download_menu {
    height: 26px;
  }
}

/* ========   SECTION   ======== */

section {
  position: relative;
  background-image: url("../img/bg/bg-dark.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
}

.sec_first {
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 150px;
}

.first_video {
  width: 60%;
  max-width: 840px;
  height: 100%;
  margin-top: -70px;
}

.container_iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.video1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container_iframe img {
  width: 100%;
  height: auto;
}

.first_text {
  position: relative;
  width: 40%;
  right: 0;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first_text h2 {
  color: var(--color-text-h2);
  text-transform: uppercase;
  font-family: var(--font-h2);
  font-size: 38px;
  margin: 6% 0 5% 0;
}

.line {
  position: relative;
  height: 0.5px;
  background-color: var(--color-border);
}

.line::after {
  content: "";
  display: block;
  top: 1px;
  position: absolute;
  height: 3px;
  width: 5px;
  left: 0;
  bottom: 100%;
  background: #99664d;
  transform-origin: left bottom;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.line::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  height: 3px;
  width: 5px;
  right: 0;
  bottom: 100%;
  background: #99664d;
  transform-origin: left bottom;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.first_content {
  max-width: 320px;
}

.first_content p {
  font-family: var(--font-LOL);
  color: var(--color-section1);
}
.btn_play{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.btn_content{
  border:none;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--bgr-btn-play);
  cursor: pointer;
}
.btn_content::after{
  content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    transform: scale(1.3);
    top: 0;
    left: 0;
    border: 1.5px solid var(--color-border);
    border-radius: 50%;
}
.btn_content::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    transform: scale(1.6);
    top: 0;
    left: 0;
    border: 1px solid var(--color-border);
    border-radius: 50%;
}
.btn_content:hover{
  transform: scale(1.1);
  transition:  transform 0.3s;
}
.btn_content:focus{
  outline: none;
}
.fa-play{
  font-size: 15px;
  color: var(--color-border);
}
.line_first{
  display: none;
}
@media only screen and (max-width: 1024px) {
  section {
    top: 60px;
  }
  .sec_first{
    width: 85%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .first_video{
    width: 100%;
  }
  .first_text{
    width: 100%;
  }
  .line{
    width: 135px;
    margin: auto;
  }
  .first_content{
    max-width: 100%;
    text-align: center;
  }
  .first_content h2{
    margin:6% 0 2% 0; 
  }
  .first_content p{
    font-size: 17px;
  }
  .line_first{
    display: block;
    position: relative;
    display: block;
    height: 16px;
    width: 80%;
    overflow: hidden;
    margin: 36px 0 60px;
  }
  .line_first_in{
    height: 0.8px;
    width: 13px;
    position: absolute;
    top: 4px;
    left: 50%;
    display: block;
    margin: 0 auto;
    border-left: 50vw solid #99664d;
    border-right: 50vw solid #99664d;
    box-sizing: content-box;
    transform: translate(-50%);
  }
  .line_first_in::before{
    content: "";
    display: block;
    position: absolute;
    height: 9px;
    width: 9px;
    top: 1px;
    left: 50%;
    border-left: 1px solid #99664d;
    border-bottom: 1px solid #99664d;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .line_first_in::after{
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 3px;
    border: 1px solid #99664d;
    border-radius: 50%;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media only screen and (max-width: 768px) {
  .btn_content,.btn_content::after,.btn_content::before{
    width: 50px;
    height: 50px;
  }
}
/* ======   SECTION SECOND   ====== */

.sec_second{

}